.navbar-brand {
    span {
        color: transparent;
        font-family: 'Atma', cursive;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #00cccc;
        font-size: 40px;
    }
}