.navbar-brand {
    span {
        color:#00cccc;
        font-family: 'Atma', cursive;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #00cccc;
    }
}